@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url(./font/lato-light-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(./font/lato-regular-webfont.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(./font/lato-bold-webfont.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

.form {
  @apply mt-5 flex flex-col items-center;
}

.btn {
  @apply mt-8 bg-green-700 text-white font-medium p-3 rounded w-full;
}

.ranges-label {
  @apply flex flex-col rounded mt-1 cursor-pointer w-full font-medium text-sm;
}

.form-heading {
  @apply text-lg font-bold;
}
